<a href="https://colab.research.google.com/github/TahseenSust/ML-assignment/blob/main/labFinal/aiLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import zipfile
with zipfile.ZipFile('/content/drive/MyDrive/Colab Notebooks/datasetofAI/new/bank-data.zip', 'r') as zip_ref:
    zip_ref.extractall('/content/')

In [131]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Load dataset
train = pd.read_csv('/content/bank-data/bank-full.csv' , delimiter=';')

In [132]:
print(train.head())
print(train.shape)

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no
(45211, 17)

In [133]:
train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [134]:
# from sklearn.preprocessing import LabelEncoder

# label_enc = LabelEncoder()

# cols = train.columns

# # Encode the categorical columns
# for col in cols:
#     train[col] = label_enc.fit_transform(train[col])

In [135]:
# train['job'].replace({'management' : 0,'technician' : 1, 'entrepreneur': 2,'blue-collar': 3, 'unknown' : 4,'retired' : 5 ,'admin.': 6,'services' : 7,
#                         'self-employed' : 8,  'unemployed' : 9, 'housemaid' : 10,'student' : 11  },inplace=True)
# train['marital'].replace({'married' : 0,'single' : 1, 'divorced': 2 },inplace=True)
# train['education'].replace({'tertiary' : 0,'secondary' : 1, 'unknown': 2, 'primary': 3 },inplace=True)
# train['default'].replace({'no' : 0,'yes' : 1},inplace=True)
# train['housing'].replace({'no' : 0,'yes' : 1},inplace=True)
# train['loan'].replace({'no' : 0,'yes' : 1},inplace=True)
# train['contact'].replace({'unknown' : 0,'cellular' : 1, 'telephone': 2 },inplace=True)
# train['month'].replace({'jan' : 0,'feb' : 1, 'mar': 2,'apr': 3, 'may' : 4,'jun' : 5 ,'jul': 6,'aug' : 7,
#                         'sep' : 8,  'oct' : 9, 'nov' : 10,'dec' : 11  },inplace=True)
# train['poutcome'].replace({'unknown' : 0,'failure' : 1, 'other': 2, 'success': 3 },inplace=True)
# train['y'].replace({'no' : 0,'yes' : 1},inplace=True)

# from sklearn.preprocessing import LabelEncoder


# encoder = LabelEncoder()
# train['job'] = encoder.fit_transform(train['job'])
# train['marital'] = encoder.fit_transform(train['marital'])
# train['education'] = encoder.fit_transform(train['education'])
# train['default'] = encoder.fit_transform(train['default'])
# train['housing'] = encoder.fit_transform(train['housing'])
# train['loan'] = encoder.fit_transform(train['loan'])
# train['contact'] = encoder.fit_transform(train['contact'])
# train['month'] = encoder.fit_transform(train['month'])
# train['poutcome'] = encoder.fit_transform(train['poutcome'])
# train['y'] = encoder.fit_transform(train['y'])


target = train['y']
train = train.drop('y', axis=1)
train = pd.get_dummies(train)

In [136]:
train.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [137]:
# target = train['y']
# train = train.drop('y', axis=1)

In [138]:
train.shape

(45211, 51)

In [139]:
train.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [140]:
X = train
y = target

In [141]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Standardize the data
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

# Apply PCA to reduce the number of features
pca = PCA(n_components=10)
X_pca = pca.fit_transform(X_std)
X = X_pca

In [142]:
X_pca.shape

(45211, 10)

In [143]:
y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [144]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [145]:
# Initialize SVM model
svm_model = SVC(kernel='linear', C = 1, gamma='auto')

In [146]:
# Train SVM model
svm_model.fit(X_train, y_train)

SVC(C=1, gamma='auto', kernel='linear')

In [147]:
# Make predictions on test set
y_pred = svm_model.predict(X_test)

# Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8821881450899439